<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Remember_It.Remember_It" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:targetSdkVersion="21" android:minSdkVersion="21" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application android:label="Remember_It"
				 android:theme="@android:style/Theme.Holo.Light"></application>
</manifest>